{% extends 'layouts/app-with-nav.html' %}
{% load static %}
{% load crispy_forms_field %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %} Register new leader {% endblock %}

{% block content %}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-xl px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="users"></i></div>
                        Leaders
                    </h1>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                    <a class="btn btn-sm btn-light text-primary" href="{% url 'leaders:lists' %}">
                        <i class="me-1" data-feather="arrow-left"></i>
                        Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main page content-->
<div class="container-xl px-4 mt-4">
    <div class="card mb-4">
        <div class="card-header">Register new VEO</div>
        <div class="card-body">
            {% if messages %}
            {% for message in messages %}
            <div class="mt-2 alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        <h5 class="">Personal Information</h5>
                        <hr />
                    </div>
                </div>

                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        {{ form.name|as_crispy_field }}
                    </div>
                    <!--./col-lg-6 -->

                    <div class="col-md-3">
                        {{ form.dob|as_crispy_field }}
                    </div>
                    <!--./col-lg-12 -->

                    <div class="col-md-3">
                        {{ form.sex|as_crispy_field }}
                    </div>
                    <!--./col-lg-12 -->
                </div>
                <!--./row -->

                <div class="row gx-3 mb-3">
                    <div class="col-md-3">
                        {{ form.id_type|as_crispy_field }}
                    </div>
                    <!--./col-lg-6 -->

                    <div class="col-md-3">
                        {{ form.id_number|as_crispy_field }}
                    </div>
                    <!--./col-lg-6 -->

                    <div class="col-md-3">
                        {{ form.phone|as_crispy_field }}
                    </div>
                    <!--./col-lg-6 -->

                    <div class="col-md-3">
                        {{ form.work|as_crispy_field }}
                    </div>
                    <!--./col-lg-6 -->
                </div>
                <!--./row -->

                <div class="row gx-3 mt-4 mb-3">
                    <div class="col-md-12">
                        <h5 class="">Physical Location</h5>
                        <hr />
                    </div>
                </div>

                <div class="row gx-3 mb-3">
                    <div class="col-md-3">
                        {{ form.region|as_crispy_field }}
                    </div>
                    <!--./col-lg-6 -->

                    <div class="col-md-3">
                        {{ form.district|as_crispy_field }}
                    </div>
                    <!--./col-lg-6 -->

                    <div class="col-md-3">
                        {{ form.ward|as_crispy_field }}
                    </div>
                    <!--./col-lg-6 -->

                    <div class="col-md-3">
                        {{ form.village|as_crispy_field }}
                    </div>
                    <!--./col-lg-6 -->
                </div>
                <!--./row -->

                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form.physical_address|as_crispy_field }}
                    </div>
                    <!--./col-lg-6 -->
                </div>
                <!--./row -->

                <div class="row gx-3 mt-4 mb-3">
                    <div class="col-md-12">
                        <h5 class="">Working Location</h5>
                        <hr />
                    </div>
                </div>

                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form.working_ward|as_crispy_field }}
                    </div>
                    <!--./col-lg-6 -->
                </div>
                <!--./row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="text-sm-end">
                            <a href="#" class="btn btn-outline-danger text-medium btn-sm">Cancel</a>
                            <button class="btn btn-secondary text-medium btn-sm" type="submit">
                                Submit
                            </button>
                        </div>
                        <!--./float-right -->
                    </div>
                    <!--./col -->
                </div>
                <!--./row -->
            </form>
        </div>
    </div>
</div>
<!--./container -->


{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}