{% extends 'layouts/app-with-nav.html' %}
{% load static %}
{% load crispy_forms_field %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %} Edit Leader {% endblock %}

{% block content %}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-xl px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="users"></i></div>
                        Leaders
                    </h1>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                    <a class="btn btn-sm btn-light text-primary" href="{% url 'leaders:lists' %}">
                        <i class="me-1" data-feather="arrow-left"></i>
                        Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main page content-->
<div class="container-xl px-4 mt-4">
    <div class="card mb-4">
        <div class="card-header">Edit Leader</div>
        <div class="card-body">
            {% if messages %}
            {% for message in messages %}
            <div class="mt-2 alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        <h5 class="">Personal Information</h5>
                        <hr />
                    </div>
                </div>

                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        {{ form.name|as_crispy_field }}
                    </div>
                    <!--./col-lg-6 -->

                    <div class="col-md-3">
                        {{ form.designation|as_crispy_field }}
                    </div>
                    <!--./col-lg-12 -->

                    <div class="col-md-3">
                        {{ form.phone|as_crispy_field }}
                    </div>
                    <!--./col-lg-6 -->
                </div>

                <div class="row gx-3 mb-3">
                    <div class="col-md-3">
                        {{ form.dob|as_crispy_field }}
                    </div>
                    <!--./col-lg-12 -->

                    <div class="col-md-3">
                        {{ form.gender|as_crispy_field }}
                    </div>
                    <!--./col-lg-12 -->

                    <div class="col-md-3">
                        {{ form.id_type|as_crispy_field }}
                    </div>
                    <!--./col-lg-6 -->

                    <div class="col-md-3">
                        {{ form.id_number|as_crispy_field }}
                    </div>
                    <!--./col-lg-6 -->
                </div>
                <!--./row -->

                <div class="row gx-3 mb-3" id="row-work" style="display: none;">
                    <div class="col-md-6">
                        {{ form.work|as_crispy_field }}
                    </div>
                    <!--./col-lg-6 -->
                </div>
                <!--./row -->

                <div class="row gx-3 mt-4 mb-3">
                    <div class="col-md-12">
                        <h5 class="">Working Location</h5>
                        <hr />
                    </div>
                </div>

                <div class="row gx-3 mb-3">
                    <div class="col-md-3">
                        {{ form.ward|as_crispy_field }}
                    </div>
                    <!--./col-lg-6 -->

                    <div class="col-md-3" id="col-village" style="display: none;">
                        {{ form.village|as_crispy_field }}
                    </div>
                    <!--./col-lg-6 -->

                    <div class="col-md-6" id="col-hamlet" style="display: none;">
                        {{ form.hamlet|as_crispy_field }}
                    </div>
                </div>
                <!--./row -->

                <div class="row gx-3 mb-3">
                    <div class="col-md-6" id="col-shina" style="display: none;">
                        {{ form.shina|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="text-sm-end">
                            <a href="{% url 'leaders:lists' %}"
                                class="btn btn-outline-danger text-medium btn-sm">Cancel</a>
                            <button class="btn btn-secondary text-medium btn-sm" type="submit">
                                Update
                            </button>
                        </div>
                        <!--./float-right -->
                    </div>
                    <!--./col -->
                </div>
                <!--./row -->
            </form>
        </div>
    </div>
</div>
<!--./container -->


{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function () {
        //before on change
        var designation_id = $("#designation_id").val();

        if (designation_id == "MTENDAJI_KATA") {
            $('#row-work').css('display', 'none');
            $('#col-village').css('display', 'none');
            $('#col-hamlet').css('display', '');
            $('#col-shina').css('display', 'none');
        } else if (designation_id == "MTENDAJI") {
            $('#row-work').css('display', 'none');
            $('#col-village').css('display', '');
            $('#col-hamlet').css('display', '');
            $('#col-shina').css('display', 'none');
        } else if (designation_id == "MWENYEKITI") {
            $('#row-work').css('display', '');
            $('#col-village').css('display', '');
            $('#col-hamlet').css('display', '');
            $('#col-shina').css('display', 'none');
        } else if (designation_id == "MJUMBE") {
            $('#row-work').css('display', '');
            $('#col-village').css('display', '');
            $('#col-hamlet').css('display', '');
            $('#col-shina').css('display', '');
        }


        //on change designation hide some of parameters
        $('#designation_id').on('change', function (e) {
            designation_id = $(this).val();

            if (designation_id == "MTENDAJI_KATA") {
                $('#row-work').css('display', 'none');
                $('#col-village').css('display', 'none');
                $('#col-hamlet').css('display', '');
                $('#col-shina').css('display', 'none');
            } else if (designation_id == "MTENDAJI") {
                $('#row-work').css('display', 'none');
                $('#col-village').css('display', '');
                $('#col-hamlet').css('display', '');
                $('#col-shina').css('display', 'none');
            } else if (designation_id == "MWENYEKITI") {
                $('#row-work').css('display', '');
                $('#col-village').css('display', '');
                $('#col-hamlet').css('display', '');
                $('#col-shina').css('display', 'none');
            } else if (designation_id == "MJUMBE") {
                $('#row-work').css('display', '');
                $('#col-village').css('display', '');
                $('#col-hamlet').css('display', '');
                $('#col-shina').css('display', '');
            }
        });
    });
</script>

{% endblock extra_js %}