{% extends 'layouts/app-with-nav.html' %}
{% load static %}
{% load crispy_forms_field %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %} Leader Information {% endblock %}

{% block content %}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-xl px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="users"></i></div>
                        Leaders
                    </h1>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                    <a class="btn btn-sm btn-light text-primary" href="{% url 'leaders:lists' %}">
                        <i class="me-1" data-feather="arrow-left"></i>
                        Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main page content-->
<div class="container-xl px-4 mt-4">
    <div class="row">
        <div class="col-xl-12 col-md-12">
            <div class="card mb-4">
                <div class="card-header">{{ leader.name }} : {{ leader.unique_id }}</div>
                <div class="card-body">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="mt-2 alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="row gx-3 mb-3">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="control-group">
                                    <label class="control-label">Status</label>
                                    <select name="status" id="status" class="form-control">
                                        <option value="{{ leader.status }}">{{ leader.status }}</option>
                                        <option value="PENDING">PENDING</option>
                                        <option value="UNVERIFIED">UNVERIFIED</option>
                                        <option value="VERIFIED">VERIFIED</option>
                                        <option value="COMPLETED">COMPLETED</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="control-group">
                                    <label class="control-label ">Is Active</label>
                                    <select name="is_active" id="is_active" class="form-control">
                                        <option value="{{ leader.is_active}}">{{ leader.is_active|yesno:"Yes,No"}}</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-sm-end">
                                    <a href="{% url 'leaders:lists' %}" class="btn btn-outline-danger text-medium btn-sm">Cancel</a>
                                    <button class="btn btn-secondary text-medium btn-sm" type="submit">
                                        Update
                                    </button>
                                </div>
                                <!--./float-right -->
                            </div>
                            <!--./col -->
                        </div>
                        <!--./row -->
                    </form>

                    <div class="mt-4">
                        <table class="table table-stripped table-bordered">
                            <tr>
                                <td colspan="4" class="font-weight-600">Leader Information</td>
                            </tr>
                            <tr>
                                <th width=25%>Name</th>
                                <td>
                                    {{ leader.name }}
                                </td>

                                <th>Designation</th>
                                <td>
                                    {{ leader.designation }}
                                </td>
                            </tr>

                            <tr>
                                <th width=25%>Leader Unique ID</th>
                                <td>
                                    {{ leader.unique_id }}
                                </td>

                                <th width=25%>Phone</th>
                                <td>
                                    {{ leader.phone }}
                                </td>  
                            </tr>

                            <tr>
                                <th width=25%>ID Type</th>
                                <td>
                                    {{ leader.id_type }}
                                </td>

                                <th>ID Number</th>
                                <td>
                                    {{ leader.id_number }}
                                </td>
                            </tr>

                            <tr>
                                <th>Occupation</th>
                                <td>
                                    {{ leader.work }}
                                </td>

                                <th width=25%>Status</th>
                                <td>
                                    {% if leader.status == 'COMPLETED' %}
                                        <label class="badge bg-info">COMPLETE REGISTRATION</label>
                                    {% elif leader.status == 'UNVERIFIED' %}
                                        <label class="badge bg-danger">UNVERIFIED</label>
                                    {% elif leader.status == 'VERIFIED' %}
                                        <label class="badge bg-success">VERIFIED</label>
                                    {% elif leader.status == 'PENDING' %}
                                        <label class="badge bg-warning">PENDING</label>
                                    {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <th>Is Active</th>
                                <td>
                                    {% if leader.is_active == 1 %}
                                        <label class="badge bg-success">YES</label>
                                    {% elif leader.is_active == 0 %}
                                        <label class="badge bg-danger">NO</label>
                                    {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <td colspan="4" class="font-weight-600">Working Location</td>
                            </tr>

                            <tr>
                                <th width=25%>Region</th>
                                <td>
                                    {{ leader.ward.district.region.name }}
                                </td>

                                <th>District</th>
                                <td>
                                    {{ leader.ward.district.name }}
                                </td>
                            </tr>

                            <tr>
                                <th width=25%>Ward</th>
                                <td>
                                    {{ leader.ward.name }}
                                </td>

                                <th>Village</th>
                                <td>
                                    {{ leader.village.name }}
                                </td>
                            </tr>

                            <tr>
                                <th width=25%>Shina</th>
                                <td>
                                    {{ leader.shina|default:"Not applicable" }}
                                </td>
                            </tr>
                        </table>
                    </div>


                </div>
            </div>


        </div>
    </div>
</div>
<!--./container -->


{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}