<div id="layoutSidenav_nav">
    <nav class="sidenav shadow-right sidenav-light">
        <div class="sidenav-menu">
            <div class="nav accordion" id="accordionSidenav">
                <!-- Sidenav Menu Heading (Account)-->
                <!-- * * Note: * * Visible only on and above the sm breakpoint-->
                <div class="sidenav-menu-heading d-sm-none">Account</div>
                <!-- Sidenav Link (Alerts)-->
                <!-- * * Note: * * Visible only on and above the sm breakpoint-->
                <a class="nav-link d-sm-none" href="#!">
                    <div class="nav-link-icon"><i data-feather="bell"></i></div>
                    Alerts
                    <span class="badge bg-warning-soft text-warning ms-auto">4 New!</span>
                </a>

                <!-- Sidenav Link (Messages)-->
                <!-- * * Note: * * Visible only on and above the sm breakpoint-->
                <a class="nav-link d-sm-none" href="#!">
                    <div class="nav-link-icon"><i data-feather="mail"></i></div>
                    Messages
                    <span class="badge bg-success-soft text-success ms-auto">2 New!</span>
                </a>
                <!-- Sidenav Menu Heading (Core)-->
                <div class="sidenav-menu-heading">OHIS DATA</div>
                
                <!-- Sidenav Accordion (Dashboard)-->
                <a class="nav-link" href="{% url 'dashboard' %}" >
                    <div class="nav-link-icon"><i data-feather="activity"></i></div>
                    Dashboards
                </a>
                
                <!-- Sidenav Heading (Addons)-->
                <!-- <div class="sidenav-menu-heading">Surveillance</div> -->
                <!-- Sidenav Link (Charts)-->
                <a class="nav-link" href="{% url 'surveillance:animal' %}">
                    <div class="nav-link-icon"><i class="fa-solid fa-dog"></i></div>
                    Animal
                </a>

                <!-- Sidenav Link (Tables)-->
                <a class="nav-link" href="{% url 'surveillance:human' %}">
                    <div class="nav-link-icon"><i class="fa-solid fa-people-group"></i></div>
                    Human
                </a>

                <!-- Sidenav Link (Tables)-->
                <a class="nav-link" href="#">
                    <div class="nav-link-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                    Research
                </a>

                <!-- Sidenav Accordion (Components)-->
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseComponents" aria-expanded="false" aria-controls="collapseComponents">
                    <div class="nav-link-icon"><i class="fa-solid fa-gears"></i></div>
                    Setup
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseComponents" data-bs-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav">
                        <a class="nav-link" href="#">Disease</a>
                        <a class="nav-link" href="#">Species</a>
                        <a class="nav-link" href="#">Age Groups</a>                        
                    </nav>
                </div>
            </div>
        </div>
        <!-- Sidenav Footer-->
        <div class="sidenav-footer">
            <div class="sidenav-footer-content">
                <div class="sidenav-footer-subtitle">Logged in as:</div>
                <div class="sidenav-footer-title">{{ user.first_name }} {{ user.last_name }}</div>
            </div>
        </div>
    </nav>
</div>